
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chinook Crossfilte </title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="shortcut icon" href="http://www.example.com/my_empty_resource" />
  <!-- Demo Dependencies -->
  <script src="./static/lib/js/underscore-min.js" type="text/javascript"></script>
  <script src="./static/lib/js/crossfilter.js" type="text/javascript"></script>

  <script src="https://d3js.org/d3.v5.js"></script>
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <script src="http://unpkg.com/dc@3/dc.js" type="text/javascript"></script>
  <!-- <script src="https://d3js.org/d3-queue.v3.min.js"></script> -->
  <script src="./static/lib/js/queue.js" type="text/javascript"></script>

  <script src="./static/lib/js/keen.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="./static/lib/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="./static/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.3.2/holder.min.js" type="text/javascript"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <!-- keen-analysis@1.2.2 -->
  <script src="https://d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js" type="text/javascript"></script>

  <!-- keen-dataviz@1.1.3 -->
  <link href="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
  <script src="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js" type="text/javascript"></script>

  <!-- Dashboard -->
  <link rel="stylesheet" type="text/css" href="./static/lib/css/keen-dashboards.css" />
</head>
<body class="keen-dashboard" >

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% for table in tables %}
      <a class="nav-item nav-link" href="/{{table}}">{{table}}</a>
      {% endfor %}
    </div>
  </div>
</nav>

  <div class="container-fluid" style="padding-top:20px;">
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Columns Selected from Table
          </div>
          <div class="chart-stage">
            {% for col in columns %}
            <div>
              <input type="checkbox" id="checkbox-{{col}}" onclick="showRow('{{col}}')" checked />
              <label>{{col}}</label>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-9">
          {% for col in columns %}
        <div class="row" style="display:block;" id="row-{{col}}">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                {{col}}
              </div>
              <div id="chart-{{col}}">
              </div>
              <div class="chart-notes">

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
  </div>
    <script>
      function showRow(col) {
          var checkBox = document.getElementById("checkbox-" + col);
          var row = document.getElementById("row-" + col);
          if (checkBox.checked == true){
              row.style.display = "block";
          } else {
             row.style.display = "none";
          }
      }
</script>
    <script>
    const url = "/data/" + window.location.pathname.split("/").pop();
    const heightDim = 140;
    const widthDim = 800;

    function createPieChart(ndx, col){
      var colDim = ndx.dimension(function(d) { return d[col]; });
      var numRecords = colDim.group();
      var colGroup = colDim.group().reduceSum(function(d) {return Math.floor(d[col]);});
      var pieChart = dc.pieChart("#chart-"+col);
      pieChart
        .width(widthDim)
        .height(heightDim)
        .dimension(colDim)
        .group(colGroup)
      return pieChart

    }

    function detChartType(ndx, col){
      var chartType = "";

      var colDim = ndx.dimension(function(d) { return d[col]; });
      var numRecords = colDim.group();
      var num = numRecords.top(Number.POSITIVE_INFINITY).length
      if (col.includes("Date")) {
          chartType = "time"
      }
      else if (num < 4){
        chartType = "pie";
      }
      else{
          chartType = "bar"
      }
      return chartType;


    }

    function createBarChart(ndx, col){
      var colDim = ndx.dimension(function(d) { return d[col]; });
      var numRecords = colDim.group();
      var barChart = dc.barChart("#chart-"+col);

      barChart
        .width(widthDim)
        .height(heightDim)
        .x(d3.scale.ordinal().rangeRoundBands([0, widthDim], .1))
        .xUnits(dc.units.ordinal)
        .elasticX(true)
        .brushOn(false)
        .dimension(colDim)
        .barPadding(0.1)
        .outerPadding(0.05)
        .group(numRecords)
        .elasticY(true)
        .yAxis().ticks(4)



      return barChart

    }

    function createTimeChart(ndx, col){
      var colDim = ndx.dimension(function(d) { return d[col]; });
      var numRecords = colDim.group();
      var minDate = colDim.bottom(1)[0][col];
      var maxDate = colDim.top(1)[0][col];
      var timeChart = dc.barChart("#chart-"+col);
      timeChart
        .brushOn(true)
        .xAxisLabel("Date")
        .width(widthDim)
        .height(heightDim)
        .dimension(colDim)
        .group(numRecords)
        .x(d3.time.scale().domain([minDate, maxDate]))
        .elasticY(true)
        .yAxis().ticks(2)

      return timeChart

    }


  d3.json(url,function makeGraphs(recordsJson) {
      var columns = JSON.parse('{{ columns|tojson }}');
    	var records = recordsJson;
    	var dateFormat = d3.time.format("%Y-%m-%d %H:%M:%S");
      var ndx = crossfilter(records);

      // Go through and format dates if possible
      columns.forEach(function(col){
        if (col.includes("Date")) {
          records.forEach(function(d) {
            d[col] = dateFormat.parse(d[col]);
            d[col].setMinutes(0);
            d[col].setSeconds(0);
          });
        }
      });

      columns.forEach(function(col){

        var chartType = detChartType(ndx, col)

        switch (chartType) {
          case "time":
            var timeChart = createTimeChart(ndx,col)
            break;
          case "pie":
            var pieChart = createPieChart(ndx,col)
            break;
          case "bar":
            var barChart = createBarChart(ndx,col)
            break;
          default:
            break

        }
      });
    	dc.renderAll();

    });

    </script>

  </body>
  </html>
